@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #f4f3f3;
    height: 7vh;
    display: flex ;
}
nav div{
    display: flex;
    align-items: center;
}
nav .left-side{
    flex: 50%;
    padding-left: 90px;
}
nav .left-side img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
nav .right-side{
    flex: 50%;
    justify-content: flex-end;
    padding-right: 90px;
}
nav ul{
    list-style: none;
    margin-left: 40px;
}
nav ul li{
    display: inline;
    margin-right: 40px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}
nav ul li a.active {
    color: #282424;
    font-weight: 700;
}
nav .right-side a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #070707;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.box1{
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
    min-width: 150vh;
    min-height: 50vh;
    width: 150px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: justify;
    display: flex;
}
.box1 h1{
    padding-top: 15px;
    padding-bottom: 10px;
    padding: auto;
    margin-bottom: 0px;
    font-size: 32px;
}
.box1 .p1{
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.box1 .download h3 i{
    padding-left: 15px;
}
.contact{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 30px;
    background: rgb(50, 50, 50);
    padding: 12px 30px;
    font-size: 14px;
    position: relative;
    margin-left: 300px;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(229, 226, 226);
    transition: .15s;
}
.contact:hover{
    border: 1px solid rgb(73, 72, 72);
    color: rgb(88, 85, 85);
    background: none;
    transition: 0.15s;
}
.box1 .download{
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-top: 20px;

}
.box1 .download .d1{
    padding-right: 20px;
    text-decoration: none;
    padding-bottom: 10px;
    color: #070707;
    font-weight: 300;
    
}
.box1 .container{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 10px;
}
.box1 .container a{
    text-decoration: none;
    color: #fff;
    width: 29px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 0px solid rgb(50, 50, 50);
    border-radius: 100%;
    background: rgb(50, 50, 50);
    box-shadow: 0px 0px 1px rgb(50, 50, 50);
    transition: 0.25s;
    text-align: center;
}
.box1 .container a:hover{
    border: 1px solid rgb(73, 72, 72);
    color: rgb(88, 85, 85);
    background: none;
    transition: 0.15s;
}
.box1 .profile{
    width: 360px;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: rgb(218, 210, 210);
    border-radius: 10px;
}
.box1 .profile img{
    width: 97%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1%;
    /* box-shadow: 0px 0px 10px rgb(79, 79, 79) ; */
}
.box1 .profile h2{
    margin-bottom: 0;
}
.box1 .profile .p2{
    margin-top: 0;
    margin-bottom: 10px;
}

/* project css */
/* .project{
    width: 450px;
    margin: auto;
    margin-top: 50px;
} */
.project-content{
    width: 450px;
    margin: auto;
    margin-top: 50px;
}
.header-project{
    text-align: center;
    margin-bottom: 10px;
}
.project-content{
    display: block;
}
.form-project{
    margin-left: 10px;
    margin-right: 10px;
}
.form-control label{
    font-size: 20px;
    font-weight: 650;
    /* margin-left: ; */
}
.form-control input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    /* margin-right: ; */
}
.form-control-date{
    display: flex;
    margin-bottom: 10px;
}
.form-control-date label{
    font-size: 20px;
    font-weight: 650;
}
.form-control-date input{
    width: 90%;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
}
.form-control textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
    resize: none;
    height: 100px; 
}
.form-control-c1{
    display: flex;
    padding: 8px;
    align-items: stretch;
}
.form-control-c1 .checkbox{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.form-control-c1 .checkbox input{
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}
/* form-label element on c1 style  */
.form-control-c1 .checkbox label{
    font-size: 20px;
    font-weight: 700;
}
/*  */
.form-control-c1 .right{
    margin-right: 20px;
}
.form-control .label-img{
    width: 100%;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding-top: 10px;
    border-radius: 10px;
}
.form-control .label-img p{
    height: 5vh;
    margin-top: 5px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
}
/* form-label element on c1 style  */
button{
    float: right;
    border: none;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
    color: #f3f3f3;
    background-color: #1b1919;
    border-radius: 10px;
    margin-bottom: 10%;
}
.blog-list-item{
    margin-top: 100px;
}
.project hr{
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.project-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 2rem auto;
}
.project-list .project-list-item{
    width: 27%;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    background-color: hsla(194, 16%, 43%, 0.757);
    padding: 8px;
    margin-right: 10px;
}
.project-list .project-list-item img{
    width: 100%;
    height: 50%;
    border-radius: 2% 2% 0 0;
}
.project-list .project-list-item .image-skills{
    width: 10%;
    display: flex;
}
.project-list .project-list-item .image-skills i{
    width: 40%;
    height: 40%;
    padding: 10px;
}
.project-list .project-list-item .button-project{
    width: 100%;
    height: 4vh;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 10px;
    align-content: center;
}

/* css project detail */
.blog-detail{
    /* background-color: #c4c4c4; */
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 10px;
}
.blog-detail h3{
    margin-bottom: 0;
}
.detail{
    display: flex;
}
.detail .image{
    width: 80%;
    height: 60vh;
    padding: 10px;
}
.detail .image img{
    width: 100%;
    height: 100%;
}
.blog-detail h2{
    text-align: center;
    padding: 10px;
}
.blog-detail .detail .content-right{
    margin-top: 70px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.blog-detail .detail .content-right .duration{
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.blog-detail .detail .content-right .duration .duration-main{
    padding: 5px;
}
.blog-detail .detail .content-right .technologies{
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.blog-detail .detail .content-right .technologies .technologi{
    display: flex;
}
.blog-detail .detail .content-right .technologies .technologi .technologi1{
    padding: 10px;
}
.content-detail{
    text-align: justify;
}

