@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #f4f3f3;
    height: 7vh;
    display: flex ;
}
nav div{
    display: flex;
    align-items: center;
}
nav .left-side{
    flex: 50%;
    padding-left: 90px;
}
nav .left-side img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
nav .right-side{
    flex: 50%;
    justify-content: flex-end;
    padding-right: 90px;
}
nav ul{
    list-style: none;
    margin-left: 40px;
}
nav ul li{
    display: inline;
    margin-right: 40px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}
nav ul li a.active {
    color: #282424;
    font-weight: 700;
}
nav .right-side a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #070707;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.box1{
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
    min-width: 150vh;
    min-height: 50vh;
    width: 150px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: justify;
    display: flex;
}
.box1 h1{
    padding-top: 15px;
    padding-bottom: 10px;
    padding: auto;
    margin-bottom: 0px;
    font-size: 32px;
}
.box1 .p1{
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.box1 .download h3 i{
    padding-left: 15px;
}
.contact{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 30px;
    background: rgb(50, 50, 50);
    padding: 12px 30px;
    font-size: 14px;
    position: relative;
    margin-left: 300px;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(229, 226, 226);
    transition: .15s;
}
.contact:hover{
    border: 1px solid rgb(73, 72, 72);
    color: rgb(88, 85, 85);
    background: none;
    transition: 0.15s;
}
.box1 .download{
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-top: 20px;

}
.box1 .download .d1{
    padding-right: 20px;
    text-decoration: none;
    padding-bottom: 10px;
    color: #070707;
    font-weight: 300;
    
}
.box1 .container{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 10px;
}
.box1 .container a{
    text-decoration: none;
    color: #fff;
    width: 29px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 0px solid rgb(50, 50, 50);
    border-radius: 100%;
    background: rgb(50, 50, 50);
    box-shadow: 0px 0px 1px rgb(50, 50, 50);
    transition: 0.25s;
    text-align: center;
}
.box1 .container a:hover{
    border: 1px solid rgb(73, 72, 72);
    color: rgb(88, 85, 85);
    background: none;
    transition: 0.15s;
}
.box1 .profile{
    width: 360px;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: rgb(218, 210, 210);
    border-radius: 10px;
}
.box1 .profile img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0%;
    /* box-shadow: 0px 0px 10px rgb(79, 79, 79) ; */
}
.box1 .profile h2{
    margin-bottom: 0;
}
.box1 .profile .p2{
    margin-top: 0;
    margin-bottom: 10px;
}
